@charset "utf-8";
/* CSS Document */
#container{
	width:700px;
	height:500px;
	background:#99F;
	margin:0 auto;
	}
#header{
	width:100%;
	height:100px;
	background:#66F;
	}
#leftheader{
	width:30%;
	height:100px;
	background:#F6C;
	float:left;
	}
#rightheader{
	width:70%;
	height:100px;
	background:#90F;
	float:left;
	}
#content{
	width:100%;
	height:300px;
	background:#FF3;
	}	
	
#leftcontent{
	width:30%;
	height:300px;
	background:#FF3;
	float:left;
	}
#rightcontent{
	width:70%;
	height:300px;
	background:#990;
	float:left;
	}
.row{
	width:100%;
	}
.leftrow{
	width:50%;
	float:left;
	}
.rightrow{
	width:50%;
	float:left;
	}