@charset "utf-8";
/* CSS Document */
#container{
	width:800px;
	height:600px;
	background:#9FF;
	margin:0 auto;
	border:#F00;
	}
#header{
	width:100%;
	height:100px;
	background:#066;
	}
#leftheader{
	width:30%;
	height:100px;
	background:#C9F;
	float:left;
	}
#rightheder{
	width:70%;
	height:100px;
	background:#F39;
	float:left;
	}
#content{
	width:100%;
	height:400px;
	background:#30C;
	}
#leftcontent{
	width:20%;
	height:400px;
	background:#C09;
	float:left;
	}
#rightcontent{
	width:80%;
	height:400px;
	background:#6FC;
	float:left;
	}
	
	
	
#footer{
	width:100%;
	height:100px;
	background:#066;
	
	}
