@charset "utf-8";
/* CSS Document */

#container{
	width:90%;
	height:500px;
	margin:0 auto;
	background:#FFC;
	}
#header{
	width:100%;
	height:50px;
	background:#9CC;
	}
#content{
	width:100%;
	height:400px;
	background:#fff;
	}
#left{
	width:20%;
	height:400px;
	background:#C96;	
	float:left;
	}	

#right{
	width:80%;
	height:400px;
	background:#CCC;	
	float:left;
	}	
	
#footer{
	width:100%;
	height:50px;
	background:#9CC;
	}
a{
	padding:5px 10px;
	text-decoration:none;
	
}
label{
	padding: 0px 20px;
	}
	
.row{
width:90%;
margin:0 auto;

	}
.rowleft{
	width:30%;
	float:left;
	background:#999;
	}	
	
.rowright{
	width:70%;
	float:left;
	background:#F99;
	}	