@charset "utf-8";
/* CSS Document */
#container{
	width:650px;
	height:450px;
	background:#333;
	margin:0 auto;
	}
#header{
	width:650px;
	height:50px;
	background:#CCC;
	margin:0 auto;
	}
#content{
	width:650px;
	height:350px;
	background:#333;
	}
#leftcontent{
	width:200px;
	height:350px;
	background:#00F;
	float:left;
	}
#rightcontent{
	width:450px;
	height:350px;
	background:#690;
	float:left;
	}
#footer{
	width:650px;
	height:50px;
	background:#C33;
	margin:0 auto;
	}
