@charset "utf-8"
/* CSS Document */

#container{
	width:80%;
	height:auto;
	margin:0 auto;
	background:#9FF;
	}
.header-left{
	width:30%;
	height:100px;
	float:left;
	background:#CCC;
	}
.header-right{
	width:70%;
	height:100px;
	float:left;
	background:#555;
	text-align:center;
	}
.full-column{
	width:100%;
	height:75px;
	float:left;
	background:#9C9;
	text-align:center;
	}
.content-left{
	width:30%;
	height:300px;
	float:left;
	background:#CC6;
	}
.content-right{
	width:70%;
	height:300px;
	float:left;
	background:#6F6;
	text-align:center;
	}
.full-footer{
	width:100%;
	height:100px;
	float:left;
	background:#F96;
	}
.left-column{
	width:29%;
	float:left;
	padding-left:1%;
	}
.left-column{
	width:69%;
	float:left;
	padding-left:1%;
	}