@charset "utf-8";
/* css Document */
#container{
	width:800px;
	height:600px;
	background:green;
	margin:0 auto;
	}
#header{
	width:800px;
	height:100px;
	background:red;	
	}
#leftheader{
	width:100px;
	height:100px;
	background:black;	
	float:left;
	}
#rightheader{
	width:700px;
	height:100px;
	background:red;	
	float:left;
	}	
	
#content{
	width:800px;
	height:400px;
	background:blue;
	}
#leftcontent{
	width:25%;
	height:400px;
	background:green;
	float:left;
	}
#middlecontent{
	width:50%;
	height:400px;
	background:blue;
	float:left;
	}

#rightcontent{
	width:25%;
	height:400px;
	background:black;
	float:left;
	} /*clear*/

#footer{
	width:800px;
	height:100px;
	background:violet;
	}
#left{
	width:40%;
	height:100px;
	background:yellow;
	float:left;
	}
#right{
	width:60%;
	height:100sspx;
	background:green;
	float:left;
	}

